{% extends "layout.html" %}
{% block content %}
    <div class="title col-md-10 col-md-offset-1">
        <h1><span style="font-weight:500">HELLO, I AM</span> OMAR AYAD</h1>
        <p>and knowledge is power, france is bacon</p>
        <div class="icons">
        <a href="//www.facebook.com/omarayad93" class="fa fa-facebook-official"></a>
        <a href="//www.github.com/omarayad1" class="fa fa-github"></a>
        <a href="//www.google.com/+omarayad1" class="fa fa-google"></a>
        <a href="//www.angel.co/omarayad1" class="fa fa-angellist"></a>
        <a href="//stackoverflow.com/users/3173602/omarayad1" class="fa fa-stack-overflow"></a>
        <a href="//www.linkedin.com/profile/view?id=65602713" class="fa fa-linkedin"></a>
        <a href="//www.flickr.com/omarayad1" class="fa fa-flickr"></a>
            </div>
    </div>
{% endblock content %}