{% extends "layout.html" %}

{% block content %}
{% for item in data %}
	<div class="bigass-panel col-md-10">
		<div class="col-md-2">
			<h1><a href="/projects/{{ item.id }}">{{ item.name }}</a></h1>
			{% if item.github %}
				<h3>
				{% for link in item.github %}
					<a href="{{ link }}" style="color:#fff">GitHub Link &nbsp;</a>
				{% endfor %}
				</h3>
			{% endif %}
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-4"><h3>{{ item.description }}</h3></div>
	</div>
{% endfor %}
{% endblock content %}