{% extends "layout.html" %}

{% block content %}
	<div class="bigass-panel col-md-11">
		<div class="col-md-2">
			<h1><a href="/projects/{{ item.id }}">{{ item.name }}</a></h1>
			{% if item.github %}
			<h3>
				{% for link in item.github %}
					<a href="{{ link }}" style="color:#fff">GitHub Link &nbsp;</a>
				{% endfor %}
				</h3>
			{% endif %}
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-4"><h3>{{ item.description }}</h3></div>
	</div>
	{% if item.markdown %}
	<div id="markdown" class="well well-lg col-md-8 col-md-offset-2">
	</div>
	{% endif %}
	<script>
	document.getElementById("markdown").innerHTML = '{{ item.full_description|safe }}'</script>

{% endblock content %}